# Jangan push file konfigurasi sensitif
.env

# Cache Python
__pycache__/
*.py[cod]

# File database/instance lokal (jika ada)
*.db
instance/
*.sqlite3

# Log files
*.log

# Mac/VSCode internal files
.DS_Store
.vscode/

# Virtual environments (opsional, kalau gak pakai venv lokal bisa dilepas)
.venv/
env/
